<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>admin panel</title>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="container shadow-lg pt-5 mt-5 pb-5 bg-white rounded">
                    <form method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" id="" required name="title">
                        </div>

                        <div class="form-group">
                            <label for="">Description</label>
                            <input type="text" class="form-control" id="" required name="description">
                        </div>

                        <div class="form-group">
                            <label for="">Image</label><br>
                            <input type="file" id="" required name="image">
                        </div>

                        <div class="form-group">
                            <label for="">Category</label>
                            <select name="category">
                                {% for categorie in categories %}

                                <option value="{{ categorie.id }}">{{categorie}}</option>

                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="">Langues</label>
                            <select name="languages">
                                {% for language in languages %}

                                <option value="{{language.id}}">{{language}}</option>

                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="">Cast</label>
                            <input type="text" class="form-control" id="" required name="cast">
                        </div>

                        <div class="form-group">
                            <label for="">Year_Of_Production</label>
                            <input type="date" class="form-control" id="" required name="year_of_production">
                        </div>

                        <div class="form-group">
                            <label for="">slug</label>
                            <input type="text" class="form-control" id="" required name="slug">
                        </div>





                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br>

                    </form>
                </div>



            </div>




            <div class="col-md-6">

                <div class="col-md-12 mt-5 shadow-lg pt-5 mt-5 pb-5 bg-white rounded">
                    <form method="POST" action="/category/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Category</label>
                            <input type="text" class="form-control" id="" name="category" required>
                        </div>


                        <button type="submit" class="btn btn-primary">Add</button>
                        <p>Added Lanuages</p>

                        {% for categorie in categories %}
                        <p>{{ categorie }}</p>
                        {% endfor %}

                    </form>
                </div>


                <div class="col-md-12 mt-5 shadow-lg pt-5 mt-5 pb-5 bg-white rounded">
                    <form method="POST" action="/language/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Language</label>
                            <input type="text" class="form-control" id="" name="languages" required>


                        </div>


                        <button type="submit" class="btn btn-primary">Add</button>

                        <p>Added Lanuages</p>

                        {% for language in languages %}
                        <p>{{ language }}</p>
                        {% endfor %}
                    </form>

                </div>

            </div>
        </div>
    </div>


    <hr>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


</body>

</html>