{% extends "testapp/base.html" %}

{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-12">
            <div class="container shadow-lg pt-5 mt-5 pb-5 bg-white rounded">
                <h1 class="text-center">My Booking</h1>

                {% if bookings %}

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year_Of_Production</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in bookings %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{book.movie.title}}</td>
                            <td>{{book.movie.year_of_production}}</td>
                            <td>{{book.booking_date}}</td>
                            <td>{{book.created_at}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                    <br>
                    {% if messages %}
                    {% for message in messages %}
                    <span class="msg">{{message}}</span>
                    {% endfor %}
                    {% endif %}

                </table>

                {% else %}
                <h4 class="text-center alert alert-info">No Record Information</h4>

                {% if messages %}
                {% for message in messages %}
                <span class="msg">{{message}}</span>
                {% endfor %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}